@{
    ViewData["Title"] = "Home Page";
}

<nav class="index-nav">

    <section class="index-image">
        <img id="index-image" src="~/images/Content/Index/filler.jpg" alt="People being active." /> 
    </section>

    <article class="index-article">
        <h2>Why Pure Fitness?</h2>
        <br />
        <p>When we live our day to day lives we often think of <strong>multitasking</strong>. <br />
        <br />
        When you hear that word you think, "Oh! I multitask all the time!". However the reality is, <strong>none of us can multitask</strong> like we think we can! Our brains DON'T work that way! When you think you're multitasking, what is really happening is that your brain is constantly switching focus between topics. And your brain doesn't like switching like that! It takes time for your brain to switch. <br />
        <br />
        So why constantly worry about the hashle behind constantly tracking your Fitness and Nutrition day to day? <br />
        <br />
        Wouldn't it be awesome if your computer did that for you?! Told you what you should eat?! And helped you thoughtlessly reach and maintain your health goals!? That's what Pure Fitness aims to do! Try us out and <strong>sign up</strong> today!</p>
    </article>

    <section class="index-buttons">
        <a class="index-links" href="#">Sign Up</a>
        <a class="index-links" href="#">Log In</a>
    </section>

</nav>