<nav class="footer-nav">

    <section class="footer-col footer-intro">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img class="footer-logo" src="~/images/PureFitnessLogo.png" alt="Pure Fitness Logo of a person running" />
        </a>
        <h1 id="title">Pure Fitness</h1>
        <p clss="footer-slogan">Automating our life with Fitness and Nutrition.</p>
    </section>

    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4 class="footer-col-title">Explore</h4>
            <a class="footer-link" href="#">
                Home
            </a>
            <a class="footer-link" href="#">
                About Us
            </a>
            <a class="footer-link" href="#">
                Sign Up
            </a>
            <a class="footer-link" href="#">
                Log In
            </a>
        </div>
    </section>
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4 class="footer-col-title">Visit</h4>

            <a class="footer-address" href="#" target="_blank">
                <span class="footer-address-row">Microsoft Store</span>
                <span class="footer-address-row">8050 Microsoft Way</span>
                <span class="footer-address-row">Charlotte, NC 28273-8105</span>
            </a>

            <h4 class="footer-col-title">Contact Us</h4>

            <a  class="footer-link" href="#" target="_blank">
                PureFitness@Pure.com
            </a>

            <p>910.824.9906</p>

        </div>
    </section>
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4 class="footer-col-title">Follow</h4>

            <a class="footer-link" href="#" target="_blank">
                Instagram
            </a>
            <a class="footer-link" href="#" target="_blank">
                Facebook
            </a>
            <a class="footer-link" href="#" target="_blank">
                LinkedIn
            </a>

        </div>
    </section>
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4 class="footer-col-title">Legal</h4>

            <a class="footer-link" href="#">Terms</a>
            <a class="footer-link" href="#">Privacy</a>
        </div>
    </section> 

    <small class="footer-legal">© 2020 Pure Fitness. All Rights Reserved.</small>
</nav>