<nav class="footer-nav">
    <section class="footer-col">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img id="logo" src="~/images/PureFitnessLogo.png" alt="Pure Fitness Logo of a person running" />
        </a>
        <h1 id="title">Pure Fitness</h1>
        <p>Automating our life with Fitness and Nutrition.</p>
    </section>

    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4>Explore</h4>
            <p>Home</p>
            <p>About Us</p>
            <p>Sign Up</p>
            <p>Log In</p>
        </div>
    </section>
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4>Visit</h4>
            <a href"#" target="_blank">
                <span>Microsoft Store</span>
                <span>8050 Microsoft Way</span>
                <span>Charlotte, NC 28273-8105</span>
            </a>
            <h4>Contact Us</h4>
            <a href="#" target="_blank">
                Pure@Pure.com
            </a>
            <p>910.824.9906</p>
        </div>
    </section>
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
            <h4>Follow</h4>
            <a href="#" target="_blank">
                Instagram
            </a>
            <a href="#" target="_blank">
                Facebook
            </a>
            <a href="#" target="_blank">
                LinkedIn
            </a>
        </div>
    </section>
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
        </div>
    </section> 
    
    <section class="footer-col">
        <div class="footer-col-wrapper">
        </div>
    </section>

    <small></small>
</nav>