<a asp-area="" asp-controller="Home" asp-action="Index">
    <img id="logo" src="~/images/PureFitnessLogo.png" alt="Pure Fitness Logo of a person running" />
</a>

<a asp-area="" asp-controller="Home" asp-action="Index">
    <h1 id="title">Pure Fitness</h1>
</a>

<div id="header-links">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <p class="link">About Us</p>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <p class="link">Sign Up</p>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <p class="link">Log In</p>
    </a>
</div>
