<div id="icon-container">
    <a href="https://www.facebook.com/">
        <img class="icon" src="~/images/Icons/Facebook.png" alt="Link to Facebook" />
    </a>
    <a href="https://www.linkedin.com/in/zacharythomasallen/">
        <img class="icon" src="~/images/Icons/LinkedIn.png" alt="Link to LinkedIn" />
    </a>
    <a href="https://www.instagram.com/?hl=en">
        <img class="icon" src="~/images/Icons/Instagram.png" alt="Link to Instagram" />
    </a>
</div>